<%- include("header") -%>

<div id="title">
  <p> TO-DO APP</p>
</div>

<div>
  <div class="form box" id="creator">
    <form class="form-group" method="post" action="/create">
      <label for="createName"><h4>CREATE A NEW LIST:</h4></label>
      <input
      id="createList"
        type="text"
        name="createName"
        class="form-control"
        placeholder="Enter list name."
      />
      <button class="button" type="submit" id="createBtn" name="create">+</button>
    </form>
  </div>

  <div class="dropdown">
    <button class="dropbtn">CHOOSE LIST ▼</button>
    <div class="dropdown-content">
      <a href="/">Today</a>
      <% listArray.forEach(function(list){%>
      <a href="<%= "/" + list %>"><%= list %></a>
      <%}) %>
    </div>
  </div>
</div>


<div style="margin: 0 auto;" class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div style="margin-top: 0px;" class="box">
  <% newListItems.forEach(function(item) { %>
  <form action="/delete" method="post">
    <div class="item">
      <input
        type="checkbox"
        name="deleteItem"
        value="<%= item._id %>"
        onChange="this.form.submit()"
      />
      <p><%= item.name %></p>
    </div>
    <input type="hidden" name="listName" value="<%= listTitle %>"></input>
  </form>
  <% }) %>

  <form class="item" action="/" method="post">
    <input
      type="text"
      name="newItem"
      placeholder="New Item"
      autocomplete="off"
    />
    <button class="button" type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>
<%- include("footer") -%>
